In [2]:
import sqlite3

#sample.dbという名前のデータベースファイル
db='sample.db'

#データベースに接続:Connectionオブジェクトを作成
#データベースがすでに存在するときはそのまま接続
#データベースがないときは新しく作成して接続
con=sqlite3.connect(db)

#カーソルオブジェクトを作成
csr = con.cursor()
#テーブルを作成
sql ='create table Employee(name,email,department,position);'
csr.execute(sql)

#保存
con.commit()
#接続を終了
con.close()

In [4]:
import sqlite3

#sample.db という名前のデータベースファイル
db='sample.db'
#データベースの接続
con=sqlite3.connect(db)
#カーソルオブジェクトを作成
csr=con.cursor()
#テーブルにデータを格納
sql="insert into Employee(name,email,department,position)\
values('Yamada','yamada@abcxyz.co.jp','Sales','staff');"
csr.execute(sql)
sql="insert into Employee(name,email,department,position)\
values('Suzuki','suzuki@abcxyz.co.jp','Development','staff');"
csr.execute(sql)

#この時点の内容を確認
sql="select*from Employee;"
csr.execute(sql)
print(csr.fetchall())

#テーブルからデータを削除
sql="delete from Employee where name = 'Yamada';"
csr.execute(sql)

#この時点の内容を確認
sql="select*from Employee;"
csr.execute(sql)
print(csr.fetchall())

#テーブル中のデータを更新
sql = "update Employee set position='Manager' where name ='Suzki';"
csr.execute(sql)

#保存
con.commit()

#内容を読み取って表示
sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())

#接続を終了
con.close()

[('Yamada', 'yamada@abcxyz.co.jp', 'Sales', 'staff'), ('Suzuki', 'suzuki@abcxyz.co.jp', 'Development', 'staff')]
[('Suzuki', 'suzuki@abcxyz.co.jp', 'Development', 'staff')]
[('Suzuki', 'suzuki@abcxyz.co.jp', 'Development', 'staff')]

In [5]:
csr.execute('drop table data_set')
con.commit()

ProgrammingError: Cannot operate on a closed database.

In [7]:
import sqlite3
db = 'test.db'
con=sqlite3.connect(db)
csr =con.cursor()

csr.execute('create table human(name,nickname);')

csr.execute("insert into human(name) values('Ichiro);")
csr.execute("insert into human(name) values('Jiro);")
csr.execute("insert into human(name) values('Saburo);")

csr.execute("update human set nickname='Lazer' where name='Ichiro';")

csr.execute("select * from human;")
print(csr.fetchall())

con.commit()
con.close()

OperationalError: table human already exists

In [8]:
import sqlite3

In [10]:
db='test.db'
con=sqlite3.connect(db)
csr =con.cursor()

In [11]:
csr.execute('create table human(name,nickname);')

OperationalError: table human already exists

In [12]:
csr.execute("insert into human(name) values('Ichiro);")
csr.execute("insert into human(name) values('Jiro);")
csr.execute("insert into human(name) values('Saburo);")

OperationalError: unrecognized token: "'Ichiro);"

In [13]:
csr.execute("update human set nickname='Lazer' where name='Ichiro';")

In [14]:
csr.execute("select * from human;")
print(csr.fetchall())

con.commit()
con.close()

[]

In [17]:
import sqlite3

db='test.db'
con=sqlite3.connect(db)
csr=con.cursor()
csr.execute("update human set nickname='Lazer' where name= 'Jiro';")
csr.execute("delete from human where nickname='Lazer';")

csr.execute("select * from human;")
print(csr.fetchall())

con.commit()
con.close()

[]

In [18]:
csr.execute("update human set nickname='Lazer' where name= 'Jiro';")

ProgrammingError: Cannot operate on a closed database.

In [19]:
csr.execute("delete from human where nickname='Lazer';")

ProgrammingError: Cannot operate on a closed database.